.navbar {
  background-color: #2B2B2B;
  color: #ffffff
}

.navbar .links {
  background-color: #2B2B2B;
}

.navbar .site-name {
  color: #d0d0d0
}

.nav-links a:hover {
  color: #ffffff
}

.nav-links a.router-link-active {
  color: #46bd87;
}